@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari&display=swap');

nav {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    animation-name: background-color;
    transition: 0.5s;
    z-index: 3;
}

.logoDiv {
    width: 10%;
    height: 90%;
    margin-left: 2%;
}

.logoDiv:first-child {
    color: #e21221;
    font-size: 4rem;
}

.logoDiv:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.logo {
    height: 4rem;
}

.logo:hover {
    cursor: pointer;
}

.listDiv {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.listDiv>p {
    margin-top: 6%;
    color: white;
    font-family: 'Anek Devanagari', sans-serif;
    animation-name: color;
    transition: 0.2s;
}

.listDiv>p:hover {
    cursor: pointer;
    color: rgb(164, 150, 150);
}

.searchInput {
    height: 2rem;
    margin-left: auto;
    background: transparent;
    padding: 3px;
    color: white;
    border: 2px solid #555;
    border-radius: 3px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.searchInput::placeholder {
    color: rgb(153, 146, 146);
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 0.9rem;
}

.searchInput::-webkit-search-cancel-button {
    display: none;
}

.searchIcon {
    color: white;
    height: 1.6rem;
    width: 1.6rem;
    background: transparent;
    margin-right: 2%;
    padding: 10px;
}

.searchIcon:hover {
    cursor: pointer;
    color: rgb(185, 184, 184);
}

/* Media Queries */
@media(max-width:1100px) {
    .logoDiv {
        width: 40%;
    }

    .listDiv {
        margin-left: 4%;
        margin-top: 2%;
    }

    .searchInput {
        height: 35%;
        width: 38%;
        margin-top: 2%;
    }

    .searchIcon {
        width: 1rem;
        height: 1rem;
        margin-right: 0;
        margin-top: 2%;
    }
}
@media(max-width:1400px) {
    .listDiv {
        display: none;
    }
}